<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Todo</h5>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Team Member</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Task</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="task details">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Priority</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Less Priority</option>
                        <option>Middle Priority</option>
                        <option>High Priority</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
