{% extends "base.html" %}
{% block title %}
Index
{% endblock %}


{% block content %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-10">

                <div class="card">
                    <div class="card-header p-3">
                        <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Task List</h5>
                    </div>
                    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height:auto">

                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Team Member</th>
                                    <th scope="col">Task</th>
                                    <th scope="col">Priority</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="todos_main">
                                {%for todo in todos %}
                                <tr class="fw-normal" id="todo-{{todo.id}}">
                                    <th>
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                        class="shadow-1-strong rounded-circle" alt="avatar 1"
                                        style="width: 55px; height: auto;">
                                        <span class="ms-2">{{todo.member}}</span>
                                    </th>
                                    <td class="align-middle">{{todo.todo}}</td>
                                    <td class="align-middle">
                                        {% if todo.priority == "high" %}
                                        <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                                        {% else if todo.priority == "less" %}
                                        <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                                        {% else if todo.priority == "middle" %}
                                        <h6 class="mb-0"><span class="badge bg-warning">Middle priority</span></h6>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        <button hx-delete="/todo/delete" hx-vals='{"id":{{todo.id}}}' hx-target="#todo-{{todo.id}}" >Delete </button>
                                        <button hx-get="/todo/edit" hx-vals='{"id":{{todo.id}}}'
                                            hx-trigger="click" data-bs-toggle="modal" data-bs-target="#modals-here" 
                                            hx-target="#modals-here" >Edit </button>
                                    </td>
                                </tr>

                                {%endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="position-relative card-footer text-end p-3">
                        <button class="me-2 btn btn-link">Cancel</button>
                        <button 
                            hx-get="/todo/add" 
                            hx-target="#modals-here" 
                            hx-trigger="click" 
                            data-bs-toggle="modal" 
                            data-bs-target="#modals-here"
                            class="btn btn-primary">Add Todo</button>
                    </div>

                    <div id="modals-here"
                        class="modal modal-blur fade"
                        style="display: none"
                        aria-hidden="false"
                        tabindex="-1">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content"></div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}


